<%-include('header');-%>

<p>this is about Yakob</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus officiis sapiente! Tempora deserunt, similique placeat dolore necessitatibus repellendus. Facere esse, cupiditate eligendi nesciunt quos atque distinctio voluptatum nostrum ullam?</p>

<%-include('footer');-%>